## 서울 시민 금융 데이터를 활용한 탄소 배출량 및 폐기물 분석 시각화 고도화

> 서울시민들의 카드사용 데이터를 활용하여 소비패턴에 따른 탄소배출량 분석, <br/> 
> 데이터 기반으로 저감 방안에 대한 아이디어 도출  <br/>

### 세부 설명 

1. 업종별 원단위 탄소배출량 추정 
    - (예: 음식점 1,000원당 탄소배출량 500g) 
2. (1) 의 추정값을 카드사용 데이터와 merging
3. 행정동을 분석단위로 하여 탄소배출량을 종속 변수로, 소비패턴(업종별 카드사용내역)을 독립변수로 회귀분석 진행 
4. (3) 의 분석을 진행할 시 행정동별 통제 필요한 변수 추가(예: 주민등록인구, 사업체 수 등) 
5. 또한 필요 시 주요한 개별 업종 등 데이터 subset으로 추가 분석 진행 
6. 행정동별 소비패턴 및 탄소배출량 등 특징/차이 시각화 

### 데이터셋 및 참조 url

1. [서울시민의 업종별 카드소비 패턴 데이터](https://bigdata.seoul.go.kr/data/selectSampleData.do?r_id=P213&sample_data_seq=318&tab_type=A&sch_cate=90&file_id=&sch_text=%EC%8B%A0%ED%95%9C&sch_order=U&currentPage=1)
2. [탄소 발자국 계산 식](https://www.kcen.kr/tanso/intro.green)

In [19]:

%pip install numpy
%pip install pandas
%pip install matplotlib
%pip install sklearn
%pip install seaborn

Requirement already satisfied: numpy in ./.venv/lib/python3.9/site-packages (1.23.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in ./.venv/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: numpy>=1.20.3 in ./.venv/lib/python3.9/site-packages (from pandas) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in ./.venv/lib/python3.9/site-packages (3.6.0)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.9/site-packages (from matplotlib) (4.37.3)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.19 in ./.venv/lib/python3.9/site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: pillow>=6.2.0 in ./.venv/lib/python3.9/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sklearn in ./.venv/lib/python3.9/site-packages (0.0)
Requirement already satisfied: scikit-learn in ./.venv/lib/python3.9/site-packages (from sklearn) (1.1.2)
Requirement already satisfied: scipy>=1.3.2 in ./.venv/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.9.1)
Requirement already satisfied: joblib>=1.0.0 in ./.venv/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./.venv/lib/python3.9/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in ./.venv/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.23.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in ./.venv/lib/python3.9/site-packages (0.12.0)
Requirement already satisfied: pandas>=0.25 in ./.venv/lib/python3.9/site-packages (from seaborn) (1.5.0)
Requirement already satisfied: matplotlib>=3.1 in ./.venv/lib/python3.9/site-packages (from seaborn) (3.6.0)
Requirement already satisfied: numpy>=1.17 in ./.venv/lib/python3.9/site-packages (from seaborn) (1.23.3)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in ./.venv/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./.venv/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in ./.venv/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (4.37.3)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas>=0.25->seaborn) (2022.2.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:

# 사전 세팅 및 import
# To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # "all" 이면, jupyter output 여러개, 한 꺼 번에 볼 수 있음 

import math
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 한글 깨짐 방지
import matplotlib.font_manager as fm

is_font_changed = False
for target_font in fm.get_font_names():
    if "Malgun Gothic" in target_font:
        # print(target_font)
        plt.rc('font', family='Malgun Gothic')
        is_font_changed = True
        break

if not is_font_changed: 
    plt.rc('font', family='AppleGothic')
    plt.rcParams['axes.unicode_minus'] = False


DATA_PATH: str = "./datas/cep_data"
FILE_LIST = os.listdir(DATA_PATH) # 해당 directory에 file name을 모두 불러와 List로 저장
FILE_LIST

def get_df_from_target_data(file_idx: int):
    try:
        return pd.read_csv(DATA_PATH + "/" + FILE_LIST[file_idx], index_col = False, encoding='utf-8')
    except UnicodeDecodeError:
        return pd.read_csv(DATA_PATH + "/" + FILE_LIST[file_idx], index_col = False, encoding='cp949')

['롯데멤버스_상품분류표.csv',
 '구매지역및구매자_지역코드.csv',
 '블록별 시간대별소액결제건수 카드소비패턴.csv',
 '카드소비 업종코드.csv',
 '판매지기준 행정동별 상품판매.csv',
 '판매지별 구매자지역기준 블록별 상품판매.csv',
 '판매지기준 블록별 상품판매.csv',
 '집계구별 일별소비지역별 카드소비패턴.csv',
 '집계구별 일별시간대별 카드소비패턴.csv',
 '판매지별 구매자지역기준 행정동별 상품판매.csv',
 '블록별 성별연령대별 카드소비패턴.csv']

In [21]:

# TODO: STEP1 
# 카드 소비 업종 코드 별로 원 단위당 총 탄소 배출량 계산 
# -> 소분류 단위로, 업종코드가 다르기 때문에 소분류 대상으로 계산기가 있다고 가설
카드소비_업종코드 = get_df_from_target_data(3)
카드소비_업종코드['업종코드(UPJONG_CD)'] = 카드소비_업종코드['업종코드(UPJONG_CD)'].str.upper()

# 임시 계산식으로 위 데이터프레임에 원 단위 계산값이 들어감
카드소비_업종코드['탄소배출량 단위/원'] = np.random.randint(1, 100, 카드소비_업종코드.shape[0])
카드소비_업종코드

# TODO: STEP2
# 위 계산식 값과 신한_블록별_성별연령대별_카드소비패턴 데이터 프레임 merge
# merge 후 "총 탄소 배출량" 컬럼
신한_블록별_성별연령대별_카드소비패턴 = get_df_from_target_data(-1)
신한_블록별_성별연령대별_카드소비패턴 = pd.merge(신한_블록별_성별연령대별_카드소비패턴, 카드소비_업종코드, how='left', left_on='서울시민업종코드(UPJONG_CD)', right_on='업종코드(UPJONG_CD)')
신한_블록별_성별연령대별_카드소비패턴 = 신한_블록별_성별연령대별_카드소비패턴.drop(['업종코드(UPJONG_CD)'], axis='columns')
신한_블록별_성별연령대별_카드소비패턴['총 탄소배출량'] = 신한_블록별_성별연령대별_카드소비패턴.apply(lambda x: x['탄소배출량 단위/원'] * x["카드이용금액계(AMT_CORR)"], axis=1)
df = 신한_블록별_성별연령대별_카드소비패턴
df

   업종코드(UPJONG_CD) 대분류(CLASS1)  중분류(CLASS2) 소분류(CLASS3)  탄소배출량 단위/원
0            SS001       요식/유흥           한식          한식          67
1            SS002       요식/유흥     일식/중식/양식          일식          83
2            SS003       요식/유흥     일식/중식/양식          양식          33
3            SS004       요식/유흥     일식/중식/양식          중식          96
4            SS005       요식/유흥  제과/커피/패스트푸드         제과점          53
..             ...         ...          ...         ...         ...
70           SS084   스포츠/문화/레저    스포츠/문화/레저          스키          17
71           SS090       교육/학원           학원      입시보습학원          86
72           SS091       교육/학원           학원       외국어학원          67
73           SS092       교육/학원           학원       예체능학원          49
74           SS093       교육/학원           학원     취미/전문학원          96

[75 rows x 5 columns]

,서울시민업종코드(UPJONG_CD),기준년월(YM),고객주소블록코드(BLOCK_CD),성별(GEDNER),연령대별(AGE),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR),대분류(CLASS1),중분류(CLASS2),소분류(CLASS3),탄소배출량 단위/원,총 탄소배출량
0,SS013,201906,14037,F,50대,48288,65,유통,할인점/슈퍼마켓,할인점/슈퍼마켓,97,4683936
1,SS048,201608,156830,M,30대,132792,10,가정생활/서비스,각종요금,통신,45,5975640
2,SS016,202009,32925,M,50대,100600,25,유통,편의점,편의점,75,7545000
3,SS001,201805,214245,F,30대,213876,40,요식/유흥,한식,한식,67,14329692
4,SS044,201705,279472,M,30대,155930,5,가정생활/서비스,서비스,생활서비스,36,5613480
...,...,...,...,...,...,...,...,...,...,...,...,...
495,SS012,201709,11449,F,30대,75450,45,유통,백화점,백화점,55,4149750
496,SS044,201707,353037,F,30대,118708,25,가정생활/서비스,서비스,생활서비스,36,4273488
497,SS054,201901,418149,F,20대,1056300,15,의료,병원,종합병원,22,23238600
498,SS021,202009,269015,F,70대이상,25150,5,의류/잡화,의복/의류,의복/의류,99,2489850
499,SS003,201812,28101,M,40대,569094,5,요식/유흥,일식/중식/양식,양식,33,18780102

In [26]:

# TODO: STEP3
# 목표 데이터 프레임 셋으로 변경
# 기준년월(YM) | 고객주소블록코드(BLOCK_CD) - 행정동 | 성별 F (66%) | 연령대(10대) | 연령대(20대) | 연령대(30대) ... | 의류/잡화, 여행/교통  ... 13개 | 
# 총 탄소배출량 (종속변수, 결과, "덧셈") // => 의류/잡화 800000, 1000 * 계수 + 여행/교통 ... 

droped_df = df.drop(['서울시민업종코드(UPJONG_CD)', '대분류(CLASS1)', '중분류(CLASS2)', '탄소배출량 단위/원', '카드이용금액계(AMT_CORR)'], axis='columns')
purpose_df_columns = ["기준년월(YM)", "고객주소블록코드(BLOCK_CD)", "M", "F", "10대", "20대", "30대", "40대", "50대", "60대", "70대이상"]
# purpose_df_columns = ["기준년월(YM)", "M", "F", "10대", "20대", "30대", "40대", "50대", "60대", "70대이상"]
purpose_df_columns.extend(list(카드소비_업종코드["소분류(CLASS3)"].values))
purpose_df_columns.append("총 탄소배출량")

# 행정동 코드 (가정) 리스트
dong_codes = sorted(list(df["고객주소블록코드(BLOCK_CD)"].unique()))

# 목표 데이터 프레임 셋 만들기
purpose_df = pd.DataFrame(columns=purpose_df_columns)
for target_day in sorted(df["기준년월(YM)"].unique())[:2]:

    # 고객 주소 블록 코드를 붙이려면, 다시 for loop 하나 더 필요
    for dong in dong_codes:
        print(target_day, dong, "<< 집계중 ")
        pre_query = (droped_df["기준년월(YM)"] == target_day) & (droped_df["고객주소블록코드(BLOCK_CD)"] == dong)
    
        # 기준년월로 filter된 dataframe 생성
        temp = droped_df.loc[pre_query,:]
        temp_row_cnt = temp.shape[0]

        # 성별 cnt
        male_cnt = temp[(temp["성별(GEDNER)"] == "M")].shape[0]
        female_cnt = temp_row_cnt - male_cnt

        # 나이대 cnt
        ages_cnt = list()
        for age in ["10대", "20대", "30대", "40대", "50대", "60대", "70대이상"]:
            cnt = temp[(temp["연령대별(AGE)"] == age)].shape[0]
            ages_cnt.append(cnt)
        # print("ages_cnt >>", ages_cnt)

        # 분류별 cnt
        # 각 분류 필터 row에 "총 탄소배출량" 값이 있고, 해당 값을 다 더해줘야함
        genre_cnt_output_sum = 0
        genre_cnt = list()
        for genre in list(카드소비_업종코드["소분류(CLASS3)"].values):
            genre_temp_df = temp[(temp["소분류(CLASS3)"] == genre)]
            genre_cnt_output_sum += genre_temp_df.sum()["총 탄소배출량"]
            cnt = temp[(temp["소분류(CLASS3)"] == genre)].shape[0]
            genre_cnt.append(cnt)
        # print("genre_cnt >>", genre_cnt)

        inserted_data = list()
        inserted_data.extend([target_day, dong, male_cnt, female_cnt])
        inserted_data.extend(ages_cnt)
        inserted_data.extend(genre_cnt)
        genre_cnt_output_sum = round(genre_cnt_output_sum / 100_000)  # 단위 : 10만, 반올림
        inserted_data.append(genre_cnt_output_sum)
        purpose_df.loc[len(purpose_df)] = inserted_data

# 분석 목표 데이터프레임 완성
purpose_df

201601 1700 << 집계중
201601 1795 << 집계중
201601 5648 << 집계중
201601 7175 << 집계중
201601 8321 << 집계중
201601 8406 << 집계중
201601 8470 << 집계중
201601 8705 << 집계중
201601 8880 << 집계중
201601 9022 << 집계중
201601 9137 << 집계중
201601 9153 << 집계중
201601 9497 << 집계중
201601 10062 << 집계중
201601 10209 << 집계중
201601 10321 << 집계중
201601 10431 << 집계중
201601 10506 << 집계중
201601 10616 << 집계중
201601 11220 << 집계중
201601 11449 << 집계중
201601 11574 << 집계중
201601 11679 << 집계중
201601 12035 << 집계중
201601 12414 << 집계중
201601 12706 << 집계중
201601 12814 << 집계중
201601 12979 << 집계중
201601 13219 << 집계중
201601 13519 << 집계중
201601 13649 << 집계중
201601 14014 << 집계중
201601 14037 << 집계중
201601 14104 << 집계중
201601 14484 << 집계중
201601 14563 << 집계중
201601 14575 << 집계중
201601 14641 << 집계중
201601 14643 << 집계중
201601 14810 << 집계중
201601 14963 << 집계중
201601 15070 << 집계중
201601 15146 << 집계중
201601 15308 << 집계중
201601 15710 << 집계중
201601 15727 << 집계중
201601 15859 << 집계중
201601 15992 << 집계중
201601 16107 << 집계중
201601 16110 << 집계중
201601 16321 << 집계중
201601 16629 << 집계중
201601 16767 << 집계중
201601 16988 << 집계중
201601 17038 << 집계중
201601 17374 << 집계중
201601 17431 << 집계중
201601 17480 << 집계중
201601 17531 << 집계중
201601 17960 << 집계중
201601 18238 << 집계중
201601 18372 << 집계중
201601 18589 << 집계중
201601 18703 << 집계중
201601 18799 << 집계중
201601 19326 << 집계중
201601 19405 << 집계중
201601 19415 << 집계중
201601 19858 << 집계중
201601 20222 << 집계중
201601 20266 << 집계중
201601 20409 << 집계중
201601 20468 << 집계중
201601 20571 << 집계중
201601 20577 << 집계중
201601 21000 << 집계중
201601 21034 << 집계중
201601 21080 << 집계중
201601 21542 << 집계중
201601 21689 << 집계중
201601 22033 << 집계중
201601 22185 << 집계중
201601 22232 << 집계중
201601 22727 << 집계중
201601 22880 << 집계중
201601 22916 << 집계중
201601 23014 << 집계중
201601 23113 << 집계중
201601 23570 << 집계중
201601 23656 << 집계중
201601 23683 << 집계중
201601 24110 << 집계중
201601 24363 << 집계중
201601 24652 << 집계중
201601 24875 << 집계중
201601 24909 << 집계중
201601 25076 << 집계중
201601 25185 << 집계중
201601 26922 << 집계중
201601 27331 << 집계중
201601 28101 << 집계중
201601 28373 << 집계중
201601 29516 << 집계중
201601 31157 << 집계중
201601 31392 << 집계중
201601 31564 << 집계중
201601 31988 << 집계중
201601 32871 << 집계중
201601 32884 << 집계중
201601 32925 << 집계중
201601 33680 << 집계중
201601 39594 << 집계중
201601 41166 << 집계중
201601 53165 << 집계중
201601 60799 << 집계중
201601 77197 << 집계중
201601 83127 << 집계중
201601 83297 << 집계중
201601 90214 << 집계중
201601 91889 << 집계중
201601 92067 << 집계중
201601 115073 << 집계중
201601 117413 << 집계중
201601 138006 << 집계중
201601 142478 << 집계중
201601 148724 << 집계중
201601 148753 << 집계중
201601 151726 << 집계중
201601 151884 << 집계중
201601 151944 << 집계중
201601 152054 << 집계중
201601 152098 << 집계중
201601 152289 << 집계중
201601 152646 << 집계중
201601 152728 << 집계중
201601 152747 << 집계중
201601 152984 << 집계중
201601 153179 << 집계중
201601 153210 << 집계중
201601 153288 << 집계중
201601 153312 << 집계중
201601 153424 << 집계중
201601 153797 << 집계중
201601 154121 << 집계중
201601 154291 << 집계중
201601 154362 << 집계중
201601 154559 << 집계중
201601 155376 << 집계중
201601 155435 << 집계중
201601 155457 << 집계중
201601 155703 << 집계중
201601 155816 << 집계중
201601 156724 << 집계중
201601 156830 << 집계중
201601 156871 << 집계중
201601 156995 << 집계중
201601 157282 << 집계중
201601 157424 << 집계중
201601 157553 << 집계중
201601 157630 << 집계중
201601 157964 << 집계중
201601 158050 << 집계중
201601 158214 << 집계중
201601 163867 << 집계중
201601 166842 << 집계중
201601 166980 << 집계중
201601 175364 << 집계중
201601 176900 << 집계중
201601 179771 << 집계중
201601 183054 << 집계중
201601 185356 << 집계중
201601 188744 << 집계중
201601 190855 << 집계중
201601 193745 << 집계중
201601 199162 << 집계중
201601 199466 << 집계중
201601 203881 << 집계중
201601 204438 << 집계중
201601 206918 << 집계중
201601 207265 << 집계중
201601 207547 << 집계중
201601 208470 << 집계중
201601 208723 << 집계중
201601 208891 << 집계중
201601 208928 << 집계중
201601 208976 << 집계중
201601 208998 << 집계중
201601 209161 << 집계중
201601 209193 << 집계중
201601 209291 << 집계중
201601 209463 << 집계중
201601 209793 << 집계중
201601 209885 << 집계중
201601 210010 << 집계중
201601 210470 << 집계중
201601 210640 << 집계중
201601 210859 << 집계중
201601 210990 << 집계중
201601 211016 << 집계중
201601 211311 << 집계중
201601 211484 << 집계중
201601 211732 << 집계중
201601 211758 << 집계중
201601 211862 << 집계중
201601 212018 << 집계중
201601 212270 << 집계중
201601 212384 << 집계중
201601 212413 << 집계중
201601 212517 << 집계중
201601 213122 << 집계중
201601 213186 << 집계중
201601 213306 << 집계중
201601 213533 << 집계중
201601 213543 << 집계중
201601 214034 << 집계중
201601 214094 << 집계중
201601 214245 << 집계중
201601 214315 << 집계중
201601 214553 << 집계중
201601 214713 << 집계중
201601 214763 << 집계중
201601 214783 << 집계중
201601 214810 << 집계중
201601 214927 << 집계중
201601 215167 << 집계중
201601 215330 << 집계중
201601 215407 << 집계중
201601 215627 << 집계중
201601 215693 << 집계중
201601 215812 << 집계중
201601 215997 << 집계중
201601 216069 << 집계중
201601 216107 << 집계중
201601 216195 << 집계중
201601 216302 << 집계중
201601 216510 << 집계중
201601 216698 << 집계중
201601 216831 << 집계중
201601 217033 << 집계중
201601 217332 << 집계중
201601 217610 << 집계중
201601 217781 << 집계중
201601 217853 << 집계중
201601 218077 << 집계중
201601 218078 << 집계중
201601 218215 << 집계중
201601 218232 << 집계중
201601 218503 << 집계중
201601 218665 << 집계중
201601 219122 << 집계중
201601 219310 << 집계중
201601 219397 << 집계중
201601 219429 << 집계중
201601 219531 << 집계중
201601 219646 << 집계중
201601 219733 << 집계중
201601 220000 << 집계중
201601 220263 << 집계중
201601 220403 << 집계중
201601 220632 << 집계중
201601 220707 << 집계중
201601 220730 << 집계중
201601 220797 << 집계중
201601 220854 << 집계중
201601 220931 << 집계중
201601 221034 << 집계중
201601 221384 << 집계중
201601 221544 << 집계중
201601 221661 << 집계중
201601 221905 << 집계중
201601 222388 << 집계중
201601 222503 << 집계중
201601 223030 << 집계중
201601 223234 << 집계중
201601 223602 << 집계중
201601 223819 << 집계중
201601 223858 << 집계중
201601 223886 << 집계중
201601 223965 << 집계중
201601 224183 << 집계중
201601 224412 << 집계중
201601 224469 << 집계중
201601 224614 << 집계중
201601 224910 << 집계중
201601 224954 << 집계중
201601 225059 << 집계중
201601 225073 << 집계중
201601 225259 << 집계중
201601 225283 << 집계중
201601 225359 << 집계중
201601 225561 << 집계중
201601 225680 << 집계중
201601 225792 << 집계중
201601 225847 << 집계중
201601 225942 << 집계중
201601 226042 << 집계중
201601 226368 << 집계중
201601 226379 << 집계중
201601 226455 << 집계중
201601 226490 << 집계중
201601 226857 << 집계중
201601 226950 << 집계중
201601 227285 << 집계중
201601 227287 << 집계중
201601 227347 << 집계중
201601 227375 << 집계중
201601 227386 << 집계중
201601 227391 << 집계중
201601 227469 << 집계중
201601 227590 << 집계중
201601 227677 << 집계중
201601 227869 << 집계중
201601 228506 << 집계중
201601 228606 << 집계중
201601 228715 << 집계중
201601 228734 << 집계중
201601 229192 << 집계중
201601 229313 << 집계중
201601 229423 << 집계중
201601 229615 << 집계중
201601 229982 << 집계중
201601 230028 << 집계중
201601 230163 << 집계중
201601 230324 << 집계중
201601 230394 << 집계중
201601 230407 << 집계중
201601 230886 << 집계중
201601 230911 << 집계중
201601 231070 << 집계중
201601 231425 << 집계중
201601 231599 << 집계중
201601 231908 << 집계중
201601 232105 << 집계중
201601 232181 << 집계중
201601 232231 << 집계중
201601 232235 << 집계중
201601 232312 << 집계중
201601 232385 << 집계중
201601 232645 << 집계중
201601 232660 << 집계중
201601 232829 << 집계중
201601 232932 << 집계중
201601 233250 << 집계중
201601 233295 << 집계중
201601 233381 << 집계중
201601 245555 << 집계중
201601 256465 << 집계중
201601 257437 << 집계중
201601 262662 << 집계중
201601 267568 << 집계중
201601 269015 << 집계중
201601 272613 << 집계중
201601 273144 << 집계중
201601 274253 << 집계중
201601 274881 << 집계중
201601 275264 << 집계중
201601 275604 << 집계중
201601 278657 << 집계중
201601 278916 << 집계중
201601 278969 << 집계중
201601 279472 << 집계중
201601 279709 << 집계중
201601 280833 << 집계중
201601 282092 << 집계중
201601 282311 << 집계중
201601 282459 << 집계중
201601 282738 << 집계중
201601 282850 << 집계중
201601 282855 << 집계중
201601 282980 << 집계중
201601 283108 << 집계중
201601 283313 << 집계중
201601 283473 << 집계중
201601 317596 << 집계중
201601 327853 << 집계중
201601 331059 << 집계중
201601 332162 << 집계중
201601 334047 << 집계중
201601 334782 << 집계중
201601 336346 << 집계중
201601 338358 << 집계중
201601 338937 << 집계중
201601 339647 << 집계중
201601 339654 << 집계중
201601 339874 << 집계중
201601 343278 << 집계중
201601 343430 << 집계중
201601 343455 << 집계중
201601 343636 << 집계중
201601 343674 << 집계중
201601 343858 << 집계중
201601 343869 << 집계중
201601 346106 << 집계중
201601 349126 << 집계중
201601 349443 << 집계중
201601 349903 << 집계중
201601 350205 << 집계중
201601 350949 << 집계중
201601 351186 << 집계중
201601 351265 << 집계중
201601 351429 << 집계중
201601 352665 << 집계중
201601 352707 << 집계중
201601 352914 << 집계중
201601 352957 << 집계중
201601 353037 << 집계중
201601 353469 << 집계중
201601 354081 << 집계중
201601 354141 << 집계중
201601 354319 << 집계중
201601 354453 << 집계중
201601 355223 << 집계중
201601 355606 << 집계중
201601 358999 << 집계중
201601 361056 << 집계중
201601 361452 << 집계중
201601 361488 << 집계중
201601 361509 << 집계중
201601 361958 << 집계중
201601 362028 << 집계중
201601 362333 << 집계중
201601 362764 << 집계중
201601 362949 << 집계중
201601 363370 << 집계중
201601 363547 << 집계중
201601 363571 << 집계중
201601 363655 << 집계중
201601 363663 << 집계중
201601 363705 << 집계중
201601 364032 << 집계중
201601 364055 << 집계중
201601 364285 << 집계중
201601 364569 << 집계중
201601 365115 << 집계중
201601 365225 << 집계중
201601 365385 << 집계중
201601 365438 << 집계중
201601 365478 << 집계중
201601 365522 << 집계중
201601 365539 << 집계중
201601 365682 << 집계중
201601 366336 << 집계중
201601 366756 << 집계중
201601 366780 << 집계중
201601 366838 << 집계중
201601 366974 << 집계중
201601 409766 << 집계중
201601 410159 << 집계중
201601 410406 << 집계중
201601 410668 << 집계중
201601 411193 << 집계중
201601 411318 << 집계중
201601 411346 << 집계중
201601 411395 << 집계중
201601 411586 << 집계중
201601 411608 << 집계중
201601 411969 << 집계중
201601 412042 << 집계중
201601 412131 << 집계중
201601 412212 << 집계중
201601 412937 << 집계중
201601 412985 << 집계중
201601 413113 << 집계중
201601 413380 << 집계중
201601 413893 << 집계중
201601 414030 << 집계중
201601 414678 << 집계중
201601 414845 << 집계중
201601 414941 << 집계중
201601 415010 << 집계중
201601 415106 << 집계중
201601 415165 << 집계중
201601 415264 << 집계중
201601 415514 << 집계중
201601 415780 << 집계중
201601 416106 << 집계중
201601 416841 << 집계중
201601 417256 << 집계중
201601 418022 << 집계중
201601 418149 << 집계중
201601 418532 << 집계중
201601 418688 << 집계중
201601 418845 << 집계중
201601 418848 << 집계중
201601 419270 << 집계중
201601 419412 << 집계중
201601 419878 << 집계중
201601 420134 << 집계중
201601 420603 << 집계중
201601 420859 << 집계중
201601 421419 << 집계중
201601 421556 << 집계중
201601 421887 << 집계중
201601 422515 << 집계중
201601 422551 << 집계중
201601 423014 << 집계중
201601 501646 << 집계중
201601 502146 << 집계중
201602 1700 << 집계중
201602 1795 << 집계중
201602 5648 << 집계중
201602 7175 << 집계중
201602 8321 << 집계중
201602 8406 << 집계중
201602 8470 << 집계중
201602 8705 << 집계중
201602 8880 << 집계중
201602 9022 << 집계중
201602 9137 << 집계중
201602 9153 << 집계중
201602 9497 << 집계중
201602 10062 << 집계중
201602 10209 << 집계중
201602 10321 << 집계중
201602 10431 << 집계중
201602 10506 << 집계중
201602 10616 << 집계중
201602 11220 << 집계중
201602 11449 << 집계중
201602 11574 << 집계중
201602 11679 << 집계중
201602 12035 << 집계중
201602 12414 << 집계중
201602 12706 << 집계중
201602 12814 << 집계중
201602 12979 << 집계중
201602 13219 << 집계중
201602 13519 << 집계중
201602 13649 << 집계중
201602 14014 << 집계중
201602 14037 << 집계중
201602 14104 << 집계중
201602 14484 << 집계중
201602 14563 << 집계중
201602 14575 << 집계중
201602 14641 << 집계중
201602 14643 << 집계중
201602 14810 << 집계중
201602 14963 << 집계중
201602 15070 << 집계중
201602 15146 << 집계중
201602 15308 << 집계중
201602 15710 << 집계중
201602 15727 << 집계중
201602 15859 << 집계중
201602 15992 << 집계중
201602 16107 << 집계중
201602 16110 << 집계중
201602 16321 << 집계중
201602 16629 << 집계중
201602 16767 << 집계중
201602 16988 << 집계중
201602 17038 << 집계중
201602 17374 << 집계중
201602 17431 << 집계중
201602 17480 << 집계중
201602 17531 << 집계중
201602 17960 << 집계중
201602 18238 << 집계중
201602 18372 << 집계중
201602 18589 << 집계중
201602 18703 << 집계중
201602 18799 << 집계중
201602 19326 << 집계중
201602 19405 << 집계중
201602 19415 << 집계중
201602 19858 << 집계중
201602 20222 << 집계중
201602 20266 << 집계중
201602 20409 << 집계중
201602 20468 << 집계중
201602 20571 << 집계중
201602 20577 << 집계중
201602 21000 << 집계중
201602 21034 << 집계중
201602 21080 << 집계중
201602 21542 << 집계중
201602 21689 << 집계중
201602 22033 << 집계중
201602 22185 << 집계중
201602 22232 << 집계중
201602 22727 << 집계중
201602 22880 << 집계중
201602 22916 << 집계중
201602 23014 << 집계중
201602 23113 << 집계중
201602 23570 << 집계중
201602 23656 << 집계중
201602 23683 << 집계중
201602 24110 << 집계중
201602 24363 << 집계중
201602 24652 << 집계중
201602 24875 << 집계중
201602 24909 << 집계중
201602 25076 << 집계중
201602 25185 << 집계중
201602 26922 << 집계중
201602 27331 << 집계중
201602 28101 << 집계중
201602 28373 << 집계중
201602 29516 << 집계중
201602 31157 << 집계중
201602 31392 << 집계중
201602 31564 << 집계중
201602 31988 << 집계중
201602 32871 << 집계중
201602 32884 << 집계중
201602 32925 << 집계중
201602 33680 << 집계중
201602 39594 << 집계중
201602 41166 << 집계중
201602 53165 << 집계중
201602 60799 << 집계중
201602 77197 << 집계중
201602 83127 << 집계중
201602 83297 << 집계중
201602 90214 << 집계중
201602 91889 << 집계중
201602 92067 << 집계중
201602 115073 << 집계중
201602 117413 << 집계중
201602 138006 << 집계중
201602 142478 << 집계중
201602 148724 << 집계중
201602 148753 << 집계중
201602 151726 << 집계중
201602 151884 << 집계중
201602 151944 << 집계중
201602 152054 << 집계중
201602 152098 << 집계중
201602 152289 << 집계중
201602 152646 << 집계중
201602 152728 << 집계중
201602 152747 << 집계중
201602 152984 << 집계중
201602 153179 << 집계중
201602 153210 << 집계중
201602 153288 << 집계중
201602 153312 << 집계중
201602 153424 << 집계중
201602 153797 << 집계중
201602 154121 << 집계중
201602 154291 << 집계중
201602 154362 << 집계중
201602 154559 << 집계중
201602 155376 << 집계중
201602 155435 << 집계중
201602 155457 << 집계중
201602 155703 << 집계중
201602 155816 << 집계중
201602 156724 << 집계중
201602 156830 << 집계중
201602 156871 << 집계중
201602 156995 << 집계중
201602 157282 << 집계중
201602 157424 << 집계중
201602 157553 << 집계중
201602 157630 << 집계중
201602 157964 << 집계중
201602 158050 << 집계중
201602 158214 << 집계중
201602 163867 << 집계중
201602 166842 << 집계중
201602 166980 << 집계중
201602 175364 << 집계중
201602 176900 << 집계중
201602 179771 << 집계중
201602 183054 << 집계중
201602 185356 << 집계중
201602 188744 << 집계중
201602 190855 << 집계중
201602 193745 << 집계중
201602 199162 << 집계중
201602 199466 << 집계중
201602 203881 << 집계중
201602 204438 << 집계중
201602 206918 << 집계중
201602 207265 << 집계중
201602 207547 << 집계중
201602 208470 << 집계중
201602 208723 << 집계중
201602 208891 << 집계중
201602 208928 << 집계중
201602 208976 << 집계중
201602 208998 << 집계중
201602 209161 << 집계중
201602 209193 << 집계중
201602 209291 << 집계중
201602 209463 << 집계중
201602 209793 << 집계중
201602 209885 << 집계중
201602 210010 << 집계중
201602 210470 << 집계중
201602 210640 << 집계중
201602 210859 << 집계중
201602 210990 << 집계중
201602 211016 << 집계중
201602 211311 << 집계중
201602 211484 << 집계중
201602 211732 << 집계중
201602 211758 << 집계중
201602 211862 << 집계중
201602 212018 << 집계중
201602 212270 << 집계중
201602 212384 << 집계중
201602 212413 << 집계중
201602 212517 << 집계중
201602 213122 << 집계중
201602 213186 << 집계중
201602 213306 << 집계중
201602 213533 << 집계중
201602 213543 << 집계중
201602 214034 << 집계중
201602 214094 << 집계중
201602 214245 << 집계중
201602 214315 << 집계중
201602 214553 << 집계중
201602 214713 << 집계중
201602 214763 << 집계중
201602 214783 << 집계중
201602 214810 << 집계중
201602 214927 << 집계중
201602 215167 << 집계중
201602 215330 << 집계중
201602 215407 << 집계중
201602 215627 << 집계중
201602 215693 << 집계중
201602 215812 << 집계중
201602 215997 << 집계중
201602 216069 << 집계중
201602 216107 << 집계중
201602 216195 << 집계중
201602 216302 << 집계중
201602 216510 << 집계중
201602 216698 << 집계중
201602 216831 << 집계중
201602 217033 << 집계중
201602 217332 << 집계중
201602 217610 << 집계중
201602 217781 << 집계중
201602 217853 << 집계중
201602 218077 << 집계중
201602 218078 << 집계중
201602 218215 << 집계중
201602 218232 << 집계중
201602 218503 << 집계중
201602 218665 << 집계중
201602 219122 << 집계중
201602 219310 << 집계중
201602 219397 << 집계중
201602 219429 << 집계중
201602 219531 << 집계중
201602 219646 << 집계중
201602 219733 << 집계중
201602 220000 << 집계중
201602 220263 << 집계중
201602 220403 << 집계중
201602 220632 << 집계중
201602 220707 << 집계중
201602 220730 << 집계중
201602 220797 << 집계중
201602 220854 << 집계중
201602 220931 << 집계중
201602 221034 << 집계중
201602 221384 << 집계중
201602 221544 << 집계중
201602 221661 << 집계중
201602 221905 << 집계중
201602 222388 << 집계중
201602 222503 << 집계중
201602 223030 << 집계중
201602 223234 << 집계중
201602 223602 << 집계중
201602 223819 << 집계중
201602 223858 << 집계중
201602 223886 << 집계중
201602 223965 << 집계중
201602 224183 << 집계중
201602 224412 << 집계중
201602 224469 << 집계중
201602 224614 << 집계중
201602 224910 << 집계중
201602 224954 << 집계중
201602 225059 << 집계중
201602 225073 << 집계중
201602 225259 << 집계중
201602 225283 << 집계중
201602 225359 << 집계중
201602 225561 << 집계중
201602 225680 << 집계중
201602 225792 << 집계중
201602 225847 << 집계중
201602 225942 << 집계중
201602 226042 << 집계중
201602 226368 << 집계중
201602 226379 << 집계중
201602 226455 << 집계중
201602 226490 << 집계중
201602 226857 << 집계중
201602 226950 << 집계중
201602 227285 << 집계중
201602 227287 << 집계중
201602 227347 << 집계중
201602 227375 << 집계중
201602 227386 << 집계중
201602 227391 << 집계중
201602 227469 << 집계중
201602 227590 << 집계중
201602 227677 << 집계중
201602 227869 << 집계중
201602 228506 << 집계중
201602 228606 << 집계중
201602 228715 << 집계중
201602 228734 << 집계중
201602 229192 << 집계중
201602 229313 << 집계중
201602 229423 << 집계중
201602 229615 << 집계중
201602 229982 << 집계중
201602 230028 << 집계중
201602 230163 << 집계중
201602 230324 << 집계중
201602 230394 << 집계중
201602 230407 << 집계중
201602 230886 << 집계중
201602 230911 << 집계중
201602 231070 << 집계중
201602 231425 << 집계중
201602 231599 << 집계중
201602 231908 << 집계중
201602 232105 << 집계중
201602 232181 << 집계중
201602 232231 << 집계중
201602 232235 << 집계중
201602 232312 << 집계중
201602 232385 << 집계중
201602 232645 << 집계중
201602 232660 << 집계중
201602 232829 << 집계중
201602 232932 << 집계중
201602 233250 << 집계중
201602 233295 << 집계중
201602 233381 << 집계중
201602 245555 << 집계중
201602 256465 << 집계중
201602 257437 << 집계중
201602 262662 << 집계중
201602 267568 << 집계중
201602 269015 << 집계중
201602 272613 << 집계중
201602 273144 << 집계중
201602 274253 << 집계중
201602 274881 << 집계중
201602 275264 << 집계중
201602 275604 << 집계중
201602 278657 << 집계중
201602 278916 << 집계중
201602 278969 << 집계중
201602 279472 << 집계중
201602 279709 << 집계중
201602 280833 << 집계중
201602 282092 << 집계중
201602 282311 << 집계중
201602 282459 << 집계중
201602 282738 << 집계중
201602 282850 << 집계중
201602 282855 << 집계중
201602 282980 << 집계중
201602 283108 << 집계중
201602 283313 << 집계중
201602 283473 << 집계중
201602 317596 << 집계중
201602 327853 << 집계중
201602 331059 << 집계중
201602 332162 << 집계중
201602 334047 << 집계중
201602 334782 << 집계중
201602 336346 << 집계중
201602 338358 << 집계중
201602 338937 << 집계중
201602 339647 << 집계중
201602 339654 << 집계중
201602 339874 << 집계중
201602 343278 << 집계중
201602 343430 << 집계중
201602 343455 << 집계중
201602 343636 << 집계중
201602 343674 << 집계중
201602 343858 << 집계중
201602 343869 << 집계중
201602 346106 << 집계중
201602 349126 << 집계중
201602 349443 << 집계중
201602 349903 << 집계중
201602 350205 << 집계중
201602 350949 << 집계중
201602 351186 << 집계중
201602 351265 << 집계중
201602 351429 << 집계중
201602 352665 << 집계중
201602 352707 << 집계중
201602 352914 << 집계중
201602 352957 << 집계중
201602 353037 << 집계중
201602 353469 << 집계중
201602 354081 << 집계중
201602 354141 << 집계중
201602 354319 << 집계중
201602 354453 << 집계중
201602 355223 << 집계중
201602 355606 << 집계중
201602 358999 << 집계중
201602 361056 << 집계중
201602 361452 << 집계중
201602 361488 << 집계중
201602 361509 << 집계중
201602 361958 << 집계중
201602 362028 << 집계중
201602 362333 << 집계중
201602 362764 << 집계중
201602 362949 << 집계중
201602 363370 << 집계중
201602 363547 << 집계중
201602 363571 << 집계중
201602 363655 << 집계중
201602 363663 << 집계중
201602 363705 << 집계중
201602 364032 << 집계중
201602 364055 << 집계중
201602 364285 << 집계중
201602 364569 << 집계중
201602 365115 << 집계중
201602 365225 << 집계중
201602 365385 << 집계중
201602 365438 << 집계중
201602 365478 << 집계중
201602 365522 << 집계중
201602 365539 << 집계중
201602 365682 << 집계중
201602 366336 << 집계중
201602 366756 << 집계중
201602 366780 << 집계중
201602 366838 << 집계중
201602 366974 << 집계중
201602 409766 << 집계중
201602 410159 << 집계중
201602 410406 << 집계중
201602 410668 << 집계중
201602 411193 << 집계중
201602 411318 << 집계중
201602 411346 << 집계중
201602 411395 << 집계중
201602 411586 << 집계중
201602 411608 << 집계중
201602 411969 << 집계중
201602 412042 << 집계중
201602 412131 << 집계중
201602 412212 << 집계중
201602 412937 << 집계중
201602 412985 << 집계중
201602 413113 << 집계중
201602 413380 << 집계중
201602 413893 << 집계중
201602 414030 << 집계중
201602 414678 << 집계중

,기준년월(YM),고객주소블록코드(BLOCK_CD),M,F,10대,20대,30대,40대,50대,60대,...,홈쇼핑,실내골프,헬스,실외골프,스키,입시보습학원,외국어학원,예체능학원,취미/전문학원,총 탄소배출량
0,201601,1700,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,201601,1795,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,201601,5648,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,201601,7175,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,642
4,201601,8321,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,201602,422515,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
992,201602,422551,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
993,201602,423014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
994,201602,501646,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
995,201602,502146,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:

# TODO: STEP4 - 시각화
# 위 "purpose_df" 데이터 프레임 기반으로 분석 시작

# 1차